<div class="footer">
  <div class="footer__left">

  </div>
  <div class="footer__right">
    <p> <i class="fa fa-phone"></i>666269470</p>
    <a href="mailto:hola@caterino.es"> <i class="fa fa-envelope"></i> hola@caterino.es</a>

  </div>
</div>
