<div class="footer">
  <div class="footer__left">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fa fa-envelope"></i>
  </div>
  <div class="footer__right">
    <p> <i class="fa fa-phone"></i> 608983840</p>
    <p> <i class="fa map-pin"></i> Carrer de Manila 47 1ยบ 2ยบ</p>
    <p> 08024 Barcelona</p>
  </div>
</div>
