
<% t =  data.textos%>
<% form_tag 'https://formcarry.com/s/IPZZAEv8L9X', :class => 'form', :method => 'POST' do %>
  <%= partial(:'components/form1', :locals => { :menu => menu}) %>
  <%= partial(:'components/form2', :locals => { :menu => menu}) %>
  <% end %>
</div>
