<% t =  data.textos%>
<div id= "form-right">
  <h2 class= "upcase margin-bottom-5"><%= t.order  %></h2>
  <div id="order-items-right">
    <div id="order-items-right-L0">
      <div class="form-right__empty align-center">
        <p> <%= t.empty  %></p>
      </div>
    </div>

  </div>
  <div class="hidden total" id= "order-line-total2">
      <p class="upcase" id= "order-total"><%= t.total%></p>
      <p id="order-line-total__total"></p>
    </div>
  <div class="button  upcase hidden" id= "button-submit-own" >
    <%= submit_tag t.confirmar %>
  </div>
</div>
