<% t =  data.textos%>
  <div class="hidden form2" id= "step2">
    <% field_set_tag :class => 'fieldset-2  hidden', id: "f2" do %>
      <%= partial(:'components/postre', :locals => { :menu => menu}) %>
    <% end %>
    <% field_set_tag :class => 'fieldset-3 hidden', id: "f3" do %>
      <%= partial(:'components/bebida', :locals => { :menu => menu}) %>
    <% end %>
    <% field_set_tag :class => 'fieldset-4 hidden datos-form datos-form--half', id: "f4" do %>
      <%= partial(:'components/datos',:locals => { :menu => menu}) %>
    <% end %>
    <%= partial(:'components/form-right',  :locals => { :menu => menu}) %>
  </div>
