<div class="instructions__card" >
  <h4 class="instructions__name">
    <%= name  %>
  </h4>
  <h3 class="instructions__number">
    <%= number  %>
  </h3>
  <%= image_tag image, class: "instructions__image" %>
</div>
