<div class="navbar">
  <div class="navbar__left">
    <%= image_tag "chef-hat.png", class: "navbar__logo" %> &nbsp; <h2>  Caterino</h2>

  </div>
  <div class="navbar__right">
    <p>atendemos por whatsapp!</p>
    <a href="" class="button button--black button--navbar">
      608983840
    </a>

  </div>
</div>
