 .form{
  label{
    color: black;
  }
  p, input {
    color: black;
    font-size: 1.6rem;
  }



  &__radio-group{
    margin-bottom: 3rem;
    height: 18rem;
    width: 27rem;
    position: relative;
    border-radius: 1rem;
    @include respond(portrait) {
      border-radius: 1rem;
    }



    label{
      font-weight: 900;
      font-size: 1.6rem;
    }

  }

  &__radio-label{
    height: 35rem;
    width: 21rem;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 3.5rem;
    padding-top: 1.2rem;


  }

  &__radio-button{
    display: none;
  }


  &__image{
    height: 21rem;
    width: 21rem;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 0;



  }

  &__radio-button:checked ~ &__radio-label > &__radio-circle::after{
    opacity: 1;
  }
  &__radio-circle{
    height:2rem;
    width:2rem;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    z-index: 200;
    background-color: white;
    position: absolute;


    &::after{
      content: "";
      display: block;
      height: .8rem;
      width:  .8rem;
      border-radius: 50%;
      background-color: $yellow;
      z-index: 200;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      opacity: 0;

    }

  }

  input[type="radio"]{
    margin: auto 1rem;
  }

}

.top-radio-circle{
  top: .5rem;
  left: 1rem;
}
