
#order-line-1,
#order-line-2,
#order-line-3,
#order-line-4,
#order-line-total {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  p{
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  &__number{
    font-weight: 700;
  }
  &__total{
    font-weight: 700;
  }
}

#order-line-2,
#order-line-4{
  // margin-bottom: 2rem;
  // padding-bottom:2rem;

}

#order-line-total,
#order-line-total2 {
  padding-top: 2rem;
  border-top: 1px solid black;
  p{
  font-weight: 700;
  }
  @include respond(phone) {
     border-top: none;
      width: 80%;
     margin: 1rem auto;

  }
}

.order-line-total2-prices{
  display:flex;
  justify-content: space-between;

}

.form-right__empty{
  @include respond(phone) {
    display:none !important;
    }
}

.ver-mas{
  font-weight: 100;
  font-size: 1.4rem;
  display:hidden;
  padding-bottom: 1rem;

  @include respond(phone) {
    // display:block;
  }
  @include respond(nophone) {
    display:none !important;
  }
  a{
    color: black;
  }
}




#order-items-right{
  position: relative;
   @include respond(phone) {
     display:none;
     width: 80%;
     margin: 2rem auto 0;
  }
}





