.header2{
  background-color: $yellow;
  height: 50rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 8rem;
  position: relative;


  h2{
  font-size: 4.8rem;
  font-weight: 700;
  color: black;
  }

  p{
    font-size: 1.8rem;
    font-weight: 300;
    color: black;
  }

  &__frame{
    width: 100%;
    position: relative;
  }
  &__image{
    position: absolute;
    right: 0;
    width: 40%;

  @include respond(portrait) {
   display: none;
  }
  }


}
