/* Main navbar */
.navbar{
  background: $yellow;
  position: fixed;
  height: 9rem;
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  z-index: 800;
  font-size: 1.4rem;



  h2{
    font-weight: 700;
    @include respond(phone) {
      font-size:2rem;
    }
  }

  &__left{
    position: absolute;
    left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    @include respond(phone) {
      left:1rem;
    }

    h2{
      color: black;
    }
  }

  &__right{
    position: absolute;
    right: 3rem;
    display: flex;
    align-items: center;
    @include respond(phone) {
      right:1rem;
    }

  }

  &__logo{
    height: 6rem;
    @include respond(phone) {
      height:3rem;
    }
  }

  &__notice{
    position: absolute;
    top: 6.5rem;
    right: 5rem;
    width: 20rem;
    color: black;
    font-weight: 300;
    text-align: center;
    font-size: 1.4rem;
    @include respond(phone) {
      width: 17rem;
      right: 1rem;
    }
  }

  &__link{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 4rem;
    font-family: "Work Sans", "sans-serif";
    font-weight: 900;
    font-size: large;
    margin-top: 1rem;
    padding-bottom: .5rem;
    @include respond(phone) {
      display: none;
    }


    &:hover{
      border-bottom: 1px solid black;
      color: black;
    }
  }
}

