/* Main navbar */
.navbar{
  background: $yellow;
  position: fixed;
  height: 9rem;
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 20000;
  font-size: 1.4rem;

  h2{
    font-weight: 700;
  }

  &__left{
    position: absolute;
    left: 3rem;
    display: flex;
    align-items: center;
  }

  &__right{
    position: absolute;
    right: 3rem;
    display: flex;
    align-items: center;

  }

  &__logo{
    height: 6rem;
  }
}

