.postre{
  &__cards{
    width: 69%;
    display: flex;
    justify-content: space-between;
    @include respond(portrait) {
      width: 98%;
      position: absolute;
      top: 20rem;
    }
    @include respond(phone) {
      width: 68rem;
      overflow-x: scroll;
      margin-top: 15rem;
      position: initial;
      top: auto;
    }
  }
  &__header{
    @include respond(portrait){
      position: fixed;
      top: 6rem;
    }
  }
}

.postre-card{
  width: 21rem;
  height: 26rem;
  background-color: $beige;
  box-shadow: $box-shadow;
  border-radius: 1rem;
  margin: 4rem auto;
  transition: all .5s ease-in-out;
  padding: 0;
  position: relative;
  overflow: hidden;
  @include respond(landscape) {
    max-width: 90% !important;
  }
  @include respond(portrait) {
    margin: 1rem auto;
  }

  &__radio-circle{
    left: 1rem;
    top: 1.2rem;
  }
}
.option-label{
  height: 5rem;
  width: 100%;
  position: relative;

  &__text {
    padding-left: 4rem;
    padding-top: .2rem;
    height: 5rem;
    width: 100%;
    font-weight: 100;
    font-size: 1.4rem ;

    label{
      left: 1rem;
      top: 1.8rem;
    }
  }
}





#no-postre-radio,
#no-bebida-radio,
#si-bebida-radio{
  display: none;
}
#no-postre-radio:checked ~ .option-label__text > .form__radio-circle::after{
    opacity: 1;
  }

#no-bebida-radio:checked ~ .option-label__text > .form__radio-circle::after{
    opacity: 1;
  }

#si-bebida-radio:checked ~ .option-label__text > .form__radio-circle::after{
    opacity: 1;
  }
