.option-label{
  height: 5rem;
  width: 100%;
  position: relative;

  &__text {
    padding-left: 4rem;
    padding-top: .2rem;
    height: 5rem;
    width: 100%;
    font-weight: 100;
    font-size: 1.4rem ;

    label{
      left: 1rem;
      top: 1.8rem;
    }
  }
}

.form__radio-circle{
  left: 1rem;
  top: .5rem;
  }


#no-postre-radio,
#no-bebida-radio,
#si-bebida-radio{
  display: none;
}
#no-postre-radio:checked ~ .option-label__text > .form__radio-circle::after{
    opacity: 1;
  }

#no-bebida-radio:checked ~ .option-label__text > .form__radio-circle::after{
    opacity: 1;
  }

#si-bebida-radio:checked ~ .option-label__text > .form__radio-circle::after{
    opacity: 1;
  }
