body{
  background-color: white;
  text-align: left;
  font-family: sans-serif;

}
.content{
  padding: 3rem 9rem;
  max-width: 130rem;
  margin: 0 auto;
  @include respond(portrait) { // width < 1200
    padding: 2rem 6rem;
  }
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
