.own{

  button{
      background-color: white;
      border: none;
      border-image: none;
    }

  &__card{
    box-shadow: $box-shadow-light;
    width: 30rem;
    height: 12rem;
    display: block;
    text-align: right;
    padding: 2rem;
    margin: 2rem 0rem;



    &:focus{
      outline: none;
    }
  }

  &__name{
    font-weight: 700;
    font-size: 1.8rem;
    padding-left: 15px;

     &__cantidad{
      font-weight: 300;
    }
  }

  &__price{
    font-weight: 700;
    font-size: 1.2rem;
    color: $gray;
    padding-left: 15px;
  }

  .fade{
    height: 100vh;
    width: 100vw;
    opacity: 1;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
  }

  &__number-form{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -2px;
    text-align: center;
    border-bottom: 1px solid black;
    width: 50%;
    margin: 0 auto;

    &:focus{
      outline: none;
      border-bottom: 3px solid $yellow;
    }
  }
  .modal-body{
    height: 20rem;
  }

  .modal-header{
    border-bottom: none;
    position: relative;
    .modal-title{
      position: absolute;
      left: 3rem;
    }
    .close{
      position: absolute;
      right: 3rem;
    }
  }

  .modal-footer{
    display: flex;
  }

  .increase{
    z-index: 1200;
    background-color: cyan;
  }

}
