.show{
  color: black;
  min-height: 100vh;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;

  h1{
    font-size: 3.6rem;
    font-weight: 900;
    color: black;
    letter-spacing: -2px;
  }

  h2{
    font-size: 3.6rem;
    font-weight: 900;
    color: $yellow;
  }

  h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
  }

  p{
    font-size: 1.4rem;
    font-weight: 100;
    color: black;
  }

  &__background{
    background-color: $yellow;
    height: 1000px;
    width: 200vw;
    transform: skewY(-6deg) translateY(-50%) translateX(-25%);
    border-radius: 119%;
    z-index: -1;
  }

  &__content{

    min-height: 85vh;
    position: absolute;
    top: 9rem;
    width: 80vw;
    min-height: 85vh;
    left: 10vw;
    border-radius: 2rem;


    &--full{
      background-color: white;
      box-shadow: $box-shadow;
      overflow: hidden;
    }

    &--divided{


    }
  }

  &__left{
    // height: 100%;
    width: calc(100% - 30rem);
  }

  &__left--divided{
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: 2rem;
    width: 65%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5rem;


  }

  &__right{
    border-radius: 2rem;
    width: 30%;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__down{
    position: absolute;
    bottom: 2.5rem;
    right: 50%;
    transform: translateX(50%);
    max-height: 22rem;
    display: flex;
    flex-direction: column;
  }
}


