.show{
  color: black;
  min-height: 100vh;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;

  h1{
    font-size: 3.6rem;
    font-weight: 900;
    color: black;
    letter-spacing: -2px;
  }

  h2{
    font-size: 3.6rem;
    font-weight: 900;
    color: $yellow;
  }

  h4{
    font-size: 2.2rem;
    font-weight: 700;
    color: black;
    text-transform: capitalize;
  }

  p{
    font-size: 1.4rem;
    font-weight: 100;
    color: black;
  }

  &__background{
    background-color: $yellow;
    height: 1000px;
    width: 200vw;
    transform: skewY(-6deg) translateY(-50%) translateX(-25%);
    border-radius: 119%;
    z-index: -1;
  }

  &__content{

    min-height: 85vh;
    position: absolute;
    top: 9rem;
    min-height: 60rem;
    left: 10vw;
    border-radius: 2rem;
    @include respond(portrait) {
      left:3vh;
      border-radius: 0;
    }
    @include respond(phone) {
      left:0;
    }


    &--full{
      background-color: white;
      box-shadow: $box-shadow;
      overflow: hidden;
      width: 100rem;
      min-height: 60rem;
      left: calc((100vw - 105rem)/2);
    }

    &--divided{

      width: 80%;
      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &__left{
    // height: 100%;
    width: 70rem;
  }

  &__left--divided{
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: 2rem;
    width: 65%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5rem;
    @include respond(portrait) {
      width: 80%;
    }
    @include respond(phone) {
      width: 100%;
      border-radius: 0;
      padding: 0;
      padding-left: 0 !important;
    }


  }

  &__right{
    border-radius: 2rem;
    width: 30%;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    @include respond(phone) {
      display: none;
    }

  }

   &__right--own{
    overflow-y: auto;
    border-radius: 2rem;
    width: 26%;
    max-width: 35rem;
    min-height: 35rem;
    max-height: 60rem;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    padding: 3rem;
    margin-right: 9rem;
    margin-top: 9rem;
    box-shadow: $box-shadow;
    @include respond(portrait) {
      margin-right: 5vh;
    }
    @include respond(phone) {
      min-height: 0;
      padding: 0;
      width: 100%;
      margin-right: 0;
      margin-top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      top: auto;
      min-height: 0;
      margin: 0;
      width: 100%;
      max-width: 100%;
      border-radius: 0;

      h2{

        display: none;

      }
    }
  }




  &__down{
    position: absolute;
    bottom: 2.5rem;
    right: 50%;
    transform: translateX(50%);
    max-height: 22rem;
    display: flex;
    flex-direction: column;
  }

  #button-submit-own{
    margin-top: 5rem;

    margin: 0 auto;
  }

  &__button{
   @include respond(phone) {
      margin-bottom: 1rem;
    }
  }

   .details{
      display: flex;
      justify-content: space-between;

    }


}


