---
title: 'Caterino - El catering más barato de Barcelona'
---

<% t =  data.textos%>
<div class="about">
  <div class="about__background">
  </div>
  <div class="about__middle">
    <h1><%= t.confirmar_title  %></h1>
    <h5><%= t.confirmar_l1  %></h5>
    <h5><%= t.confirmar_l2  %></h5>
    <h5><%= t.confirmar_l3  %> <a href="tel:666269470"> 666269470</i>
    </a></h5>
  </div>
</div>
