---
title: Welcome to Middleman
---

<section class="content">
  <div class="cards">
    <div class="row">
      <% data.menus.each do |menu| %>
        <div class="col-xs-12 col-sm-6  col-md-4">
          <li>
            <%= partial(:'components/card', :locals => {
              :title => menu.nombre,
              :precio => menu.precio,
              :image => menu.image,
              :platos => menu.platos,
              :slug => menu.slug }) %>
          </li>
         </div>
      <% end %>

    </div>
  </div>
</section>

