
<% t =  data.textos%>

<% menu = data[menu] %>


<div class="show">
  <div class="show__background">
  </div>
  <div class="show__content  show__content--full">
    <%= partial(:'components/form', :locals => { :menu => menu}) %>
  </div>
</div>

<%= javascript_include_tag "menu" %>

