
<% t =  data.textos%>

<% pastel = data[pastel] %>

<div class="show">
  <div class="show__background">
  </div>
  <div class="show__content show__content--full">
    <%= partial(:'components/form-pasteles', :locals => { :menu => pastel}) %>
    <div class="hidden form2" id= "step2">
      <% field_set_tag :class => 'fieldset-4 hidden', id: "f4" do %>
        <%= partial(:'components/datos', :locals => { :menu => pastel}) %>
      <% end %>
      <%= partial(:'components/form-right-cafe', :locals => { :menu => pastel}) %>
    </div>
  </div>
</div>

<%= javascript_include_tag "pasteles" %>

